[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=<GUI Controller>
Comment=
Exec = lxterminal -e python3 /home/raspberrypi/Piper/read_serial.py
StartupNotify=false
Terminal=true
Hidden=false